.trailer-button {
  @media (max-width: $small-size) {
    width: 100%;
    display: block;
  }
}

.modal-dialog {
  // width: 90%;
  width: auto;
  // @media (max-width: $extra-small-size) {
  //   max-width: 800px !important;
  // }
  // height: 600px !important;
  .modal-content {
    /* 80% of window height */
    // height: 100%;
    height: auto;
    background-color: #bbd6ec;
    // background-color: green;

    .modal-header {
      background-color: #337ab7;
      padding: 16px 16px;
      color: #fff;
      // color: red;
      border-bottom: 2px dashed #337ab7;
      h5 {
        font-weight: 400;
        // color: green;
        @media (max-width: $extra-small-size) {
          // color: red;
          // font-weight: 400;
          font-size: 1rem;
        }
      }
      @media (max-width: $small-size) {
        // color: green;
        padding: 7px;
        font-size: 0.5rem;
        // color: blue;
      }
    }
  }
}
