.slide-container {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  img {
    width: 100%;
    cursor: grab;
  }
  .slide {
    position: relative;
    width: 50%;

    @media (max-width: $extra-large-size) {
      width: 80%;
    }

    &__caption {
      bottom: 110px;
      min-height: 80px;
      left: 12px;
      position: absolute;
      width: 100%;
      z-index: 2;
      @media (max-width: $medium-size) {
        bottom: 30px;
        line-height: 1;
      }
      // }
      &__title {
        display: inline-block;
        font-weight: 300;
        font-size: 1.86rem;
        color: #fff;
        &:hover {
          color: #ccc;
        }

        @media (max-width: $extra-small-size) {
          font-size: 1.2rem;
        }
      }

      &__release-date,
      &__genres {
        color: #fff;
        font-size: 0.9rem;
        span {
          color: #ddd;
        }
      }

      &__overview {
        color: #ddd;
        font-size: 13px;
      }
    }
  }
}
